<link rel="stylesheet"
	href="https://esdmr.github.io/template/lib/katex/dist/katex.min.css"
	crossorigin="anonymous">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer
	src="https://esdmr.github.io/template/lib/katex/dist/katex.min.js"
	crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer
	src="https://esdmr.github.io/template/lib/katex/dist/contrib/auto-render.min.js"
	crossorigin="anonymous"
	onload="renderMathInElement(document.body);"></script>
